\**\*
*~
*.*
/*/*

!.gitignore

!README.md

# IMAGE FILES
!La-Permanence-screenshot.png
!moulin-availability.png
!moulin-average-availability.png
!moulin-24-hour-seasonal-decomposition.png
!moulin-7-day-on-24-hour-seasonal-decomposition.png
!moulin-training-validation-split.png
!moulin-random-forest-forecast-max-depth-*.png


# DATASETS
!attendance.csv

# PYTHON SCRIPTS
!la-permanence-scraping.py
!la-permanence-correct-timezone-error.py

# JUPYTER NOTEBOOKS
!la-permanence-understanding.ipynb
!la-permanence-seasonality.ipynb
!la-permanence-random-forests-forecasting.ipynb
!la-permanence-random-forests-parameters.ipynb
!la-permanence-random-forests-interpretation.ipynb
!la-permanence-decision-trees.ipynb
