\**\*
*~
*.*
/*/*

!.gitignore
# !environment.yml

!README.md

# IMAGE FILES

!La-Permanence-screenshot.png

!moulin-availability-timeseries.png
!moulin-availability-heatmap.png

!moulin-average-by-day.png
!moulin-weekly-timeseries.png`
!moulin-average-heatmap.png

!moulin-24-hour-seasonal-decomposition.png
!moulin-7-day-on-24-hour-seasonal-decomposition.png

!moulin-training-validation-split-timeseries.png

!moulin-forecasting-random-forests-max-depth-*.png
!moulin-forecasting-random-forests-min-samples-leaf-*.png


!moulin-average-timeseries.png


# Probably won't need those anymore:
# !moulin-average-availability.png
# !moulin-training-validation-split.png
# !moulin-random-forest-forecast-max-depth-10.png
# !moulin-random-forest-forecast-max-depth-5.png
# !moulin-forecasting-random-forests-max-depth-5.png
# !moulin-forecasting-random-forests-max-depth-10.png


# DATASETS: exclude it to avoid overwriting good files
#!attendance.csv

# MODULES
!LaPermanence.py

# PYTHON SCRIPTS
!scraping.py
!report.py
!backup.py
!la-permanence-correct-timezone-error.py
!/tmp/add-field-better.py

# JUPYTER NOTEBOOKS
!weekly-statistics-summary.ipynb
!la-permanence-understanding.ipynb
!la-permanence-seasonality.ipynb
!la-permanence-random-forests-forecasting.ipynb
!la-permanence-random-forests-parameters.ipynb
!la-permanence-random-forests-interpretation.ipynb
!la-permanence-decision-trees.ipynb
